.parent {
    position: relative;
}

.canvas {
    position: absolute;
    z-index: 0;
}

.stop {
    text-align: center;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    padding: 5px;
    background-color: aqua;
    border: 3px solid aqua;
    margin: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    -webkit-user-select: none;
}

.hidden {
    padding: 5px;
    border: 3px solid;
    margin: 2px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    visibility: hidden;
    -webkit-user-select: none;
}

.cell:hover {
    cursor: pointer;
}

.selected {
    border: 3px solid beige;
}
