.start {
    height: 50vw;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionButton {
    padding: 10px;
    border-radius: 3px;
}

.actionButton:hover {
    cursor: pointer;
}